<DIV class="container">
  <SECTION class="card">
    <DIV class="card-content">
      <DIV class="card-face"><%= image_tag("me.png", alt: "Mathieu Allaire") %></div>
      <H2 class="card-title"><%= t("card.title") %></H2>
      <P><%= t("card.content_1") %></P>
      <P><%= t("card.content_2") %></P>
      <P><%= t("card.content_3") %></P>
      <Pclass="card-cta"><%= t("card.cta") %></p>
    </DIV>
  </SECTION>
  <footer class="footer">
    <dDIV class="footer-left">
      <A HREF="https://github.com/allaire" class="icon ion-social-github"></A>
      <a href="https://twitter.com/allaire" class="icon ion-social-twitter"></a>
      <a href="https://linkedin.com/in/mathieuallaire" class="icon ion-social-linkedin"></a>
    </div>
    <a href="<%= locale_root(reverse_locale(I18n.locale)) %>" data-locale="<%= reverse_locale(I18n.locale) %>" class="js-locale footer-right"><%= t("locale") %></a>
  </footer>
</div>
